<!DOCTYPE html>
<html style="height:100%;">
<head>
	<title>BART</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="public/css/dashboard.css"/>
</head>
<body style="height:100%;">
	<header>
		<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
			<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">BART Project</a>
			<!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
			<ul class="navbar-nav px-3">
				<li class="nav-item text-nowrap">
					<a class="nav-link" href="#"></a>
				</li>
			</ul>
		</nav>
	</header>

	<div class="container-fluid" style="height:95%;">
		<div class="row" style="height:100%;">
			<nav class="col-md-4 d-none d-md-block bg-light sidebar">
				<aside class="sidebar-sticky">
					<div>
						<section id="startInfo">
							<h3><span id="startName"></span></h3>
							<label>Address</label>
							<input id="startAddress" type="text" readonly/>
							<label>Latitude</label>
							<input id="startLatitude" type="text" readonly/>
							<label>Longitude</label>
							<input id="startLongitude" type="text" readonly/>
							<label>Intro</label>
							<textarea id="startIntro" rows="4" cols="30" style="resize: none" readonly></textarea>
						</section>
					</div>

					<div>
						<section id="endInfo">
							<h3><span id="endName"></span></h3>
							<label>Address</label>
							<input id="endAddress" type="text" readonly/>
							<label>Latitude</label>
							<input id="endLatitude" type="text" readonly/>
							<label>Longitude</label>
							<input id="endLongitude" type="text" readonly/>
							<label>Intro</label>
							<textarea id="endIntro" rows="4" cols="30" style="resize: none" readonly></textarea>
						</section>
					</div>
				</aside>
			</nav>

			<main class="col-md-8 ml-sm-auto col-lg-8 pt-3 px-4">
				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
					<h1 class="h2">BART Route</h1>
				</div>

				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
					<div id="googleMap" style="width:100%;height:400px;"></div>

				</div>
				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
					<article>
						<h2>This is the content</h2>
					
						<div>
							{{{content}}}
						</div>

						<div class="table-responsive">
							<table class="table table-sm">
								<thead>
								</thead>
							</table>
						</div>

					<!-- The Same-Origin Policy:
						In public API, there is a mechanism to use Cross-Origin Resource sharing (CORS).
						Usually API developer need to consider the case, and the client browser will receive special HTTP headers in response that it allows CORS request.
						This is what happens when using google map API to display map and route between BART station.
						For my case in with BART API, I request the resoruces through server (backend) thus, client will not directly request to BART API server.
					 -->
					</article>
				</div>

				 <footer class="container-fluid footie" style="padding:10px;">
                			<div class="container">
                        			<span>&copy; ahadiwijaya@scu.edu 2018</span>
                			</div>
        			</footer>
			</main>
		</div>
	</div>

	<!-- Scripts -->
	<script
	src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<!-- <script src="public/js/googlemap.js"></script> -->

	<script>

		var directionsService;
		var directionsDisplay;
		var mapStart, mapEnd;

		function initMap() {
			directionsService = new google.maps.DirectionsService;
			directionsDisplay = new google.maps.DirectionsRenderer;
			var map = new google.maps.Map(document.getElementById('googleMap'), {
				zoom: 14,
				center: {lat: 37.354107, lng: -121.955238}
			});
			directionsDisplay.setMap(map);

			// var onChangeHandler = function() {
			// 	calculateAndDisplayRoute(directionsService, directionsDisplay);
			// };
			// document.getElementById('start').addEventListener('change', onChangeHandler);
			// document.getElementById('end').addEventListener('change', onChangeHandler);
		}

		function tripInfo(info, fares) {

		}

		function calculateAndDisplayRoute(directionsService, directionsDisplay) {
			if (mapStart == null || mapEnd == null) {
				return;
			}

			$.ajax({
				url: "/trips",
				data: {source: $('#start').val(), dest: $('#end').val()},
				success: function(res) {
					var info = res.root
					var fares = info.fares.fare
					tripInfo(info, fares);
				}
			})

			directionsService.route({
				origin: mapStart,
				destination: mapEnd,
				travelMode: 'TRANSIT',
				transitOptions: {
					modes: ['RAIL']
				}
			}, function(response, status) {
				if (status === 'OK') {
					directionsDisplay.setDirections(response);
				} else {
					window.alert('Directions request failed due to ' + status);
				}
			});
		}

		function buildStation(station, id) {
			var addr = station.address + ', ' + station.city + ', ' + station.state + ' ' + station.zipcode 
			var ltdlng = new google.maps.LatLng(station.gtfs_latitude, station.gtfs_longitude)

			$("#"+id+"Name").text()
			$("#"+id+"Address").val()
			$("#"+id+"Latitude").val()
			$("#"+id+"Longitude").val()
			$("#"+id+"Intro").val()

			$("#"+id+"Name").text(station.name)
			$("#"+id+"Address").val(addr)
			$("#"+id+"Latitude").val(station.gtfs_latitude)
			$("#"+id+"Longitude").val(station.gtfs_longitude)
			$("#"+id+"Intro").val(station.intro["#cdata-section"])

			return ltdlng;
		}

		$('#start, #end').on("change", function() {
			var abbr = $(this).val();
			var id = $(this).attr("id")
			$.ajax({
				url: "/station",
				data: {source: abbr},
				success: function(res) {
					var station = res.root.stations.station
					if (id == "start") {
						mapStart = buildStation(station, id)
					}
					else if (id == "end") {
						mapEnd = buildStation(station, id)
					}

					calculateAndDisplayRoute(directionsService, directionsDisplay);
				}
			})
		});

	</script>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeHd8YCGXmPjRLvokoUdFIyIT9XQHfZ7M&callback=initMap"></script>

</body>
</html>
