<!DOCTYPE html>
<html style="height:100%;">
<!-- The Same-Origin Policy:
	In public API, there is a mechanism to use Cross-Origin Resource sharing (CORS).
	Usually API developer need to consider the case, and the client browser will receive special HTTP headers in response that it allows CORS request.
	This is what happens when using google map API to display map and route between BART station.
	For my case in with BART API, I request the resoruces through server (backend) thus, client will not directly request to BART API server.
-->
<head>
	<title>BART</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="public/css/dashboard.css"/>
	<link rel="stylesheet" href="public/css/flipclock.css"/>
	<link rel="stylesheet" href="public/css/custom.css"/>
</head>
<body style="height:100%;">
	<header>
		<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
			<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">BART Route Project</a>
			<!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
			<ul class="navbar-nav px-3">
				<li class="nav-item text-nowrap">
					<a class="nav-link" href="#"></a>
				</li>
			</ul>
		</nav>
	</header>

	<div class="container-fluid" style="height:95%;">
		<div class="row" style="height:100%;">
			<nav class="col-md-4 d-none d-md-block bg-light sidebar">
				<aside class="sidebar-sticky">
					<div class="border-bottom" style="margin: 10px;">
						<section id="startInfo" style="display: none;">
								<h3><span id="startName"></span></h3>
								<div class="form-group">
									<label>Address</label>
									<input class="form-control" id="startAddress" type="text" readonly/>
								</div>
								<div class="form-group">
									<label>Latitude</label>
									<input class="form-control" id="startLatitude" type="text" readonly/>
								</div>	
								<div class="form-group">
									<label>Longitude</label>
									<input class="form-control" id="startLongitude" type="text" readonly/>
								</div>
								<div class="form-group">
									<label>Intro</label>
									<textarea class="form-control" id="startIntro" rows="4" style="resize: none" readonly></textarea>
								</div>
						</section>
					</div>

					<div style="margin: 10px;">
						<section id="endInfo" style="display: none;">
							<h3><span id="endName"></span></h3>
							<div class="form-group">
								<label>Address</label>
								<input class="form-control" id="endAddress" type="text" readonly/>
							</div>
							<div class="form-group">
								<label>Latitude</label>
								<input class="form-control" id="endLatitude" type="text" readonly/>
							</div>
							<div class="form-group">
								<label>Longitude</label>
								<input class="form-control" id="endLongitude" type="text" readonly/>
							</div>
							<div class="form-group">
								<label>Intro</label>
								<textarea class="form-control" id="endIntro" rows="4" style="resize: none" readonly></textarea>
							</div>
						</section>
					</div>
				</aside>
			</nav>

			<main class="col-md-8 ml-sm-auto col-lg-8 pt-3 px-4">
				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
					<div class="col">
						<h2>Time until the next train: </h2>
					</div>
					<div class="col">
					 	<div id="countDownWidget" class="clock" style="color: red;"></div>
					</div>
				</div>

				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
					<div id="googleMap" style="width:100%;height:400px;"></div>
				</div>
				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
					<article style="width:100%;">
						<div>
							{{{content}}}
							<div id="tripDetail">
							</div>
						</div>

					</article>
				</div>

				 <footer class="container-fluid footie" style="padding:10px;">
                			<div class="container">
                        			<span>&copy; ahadiwijaya@scu.edu 2018</span>
                			</div>
        			</footer>
			</main>
		</div>
	</div>

	<!-- Scripts -->
	<script
	src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="public/js/flipclock.min.js"></script>
	<script>

		var directionsService;
		var directionsDisplay;
		var mapStart, mapEnd;
		var clock;

		// initialize google map
		function initMap() {
			directionsService = new google.maps.DirectionsService;
			directionsDisplay = new google.maps.DirectionsRenderer;
			var map = new google.maps.Map(document.getElementById('googleMap'), {
				zoom: 14,
				center: {lat: 37.354107, lng: -121.955238}
			});
			directionsDisplay.setMap(map);

			// var onChangeHandler = function() {
			// 	calculateAndDisplayRoute(directionsService, directionsDisplay);
			// };
			// document.getElementById('start').addEventListener('change', onChangeHandler);
			// document.getElementById('end').addEventListener('change', onChangeHandler);
		}

		// build html string for fares
		function fareDetail(fare) {
			var strFare = "<div class='row' style='color: blue;'>"
			for (var i=0; i < fare.length; i++) {
				strFare += "<div class='col'>" +
					fare[i]["@name"] + "</div>";
			}

			strFare += "</div><div class='row' style='color: blue;'>";
			for (var i=0; i < fare.length; i++) {
				strFare += "<div class='col'>" +
					"$ " + fare[i]["@amount"] + "</div>";
			}

			strFare += "</div>";
			return strFare;
		}

		// convert time String to datetime object
		function convertTime(time) {
			var hours = Number(time.match(/^(\d+)/)[1]);
			var min = Number(time.match(/:(\d+)/)[1]);
			var AMPM = time.match(/\s(.*)$/)[1];
			if(AMPM == "PM" && hours<12) hours = hours+12;
			if(AMPM == "AM" && hours==12) hours = hours-12;
			var tm = new Date();
			tm.setHours(hours, min);

			return tm;
		}

		// calculate time difference, return time string
		function getTimeDiff(curTime, depTime) {
			var timeDiff = convertTime(depTime) - curTime;

			var diffHrs = Math.floor((timeDiff % 86400000) / 3600000); // hours
			var diffMins = Math.round(((timeDiff % 86400000) % 3600000) / 60000); // minutes
			var strTime = "Train is coming in ";
			if (diffHrs > 0) {
				strTime += diffHrs + " hrs, ";
			}
			if (diffMins > 0) {
				strTime += diffMins + " min";
			} else if (diffHrs == 0 && diffMins == 0) {
				strTime = "";
				strTime += "Train is coming and departing soon.";
			} else {
				strTime = "";
				strTime += "Please check the next train.";
			}
			
			return strTime;	
		}

		// countdown widget, only for the first train;
		function startCountDown(curTime, depTime) {
			var depTimeObj = (convertTime(depTime) - curTime) / 1000;
			clock = $('.clock').FlipClock(depTimeObj, {
				clockFace: 'MinuteCounter',
				countdown: true,
			});
		}

		// leg
		function getLeg(leg) {
			var strLeg = "<h5>" + leg[0]["@origTimeMin"] +
                                " >> " +
                                leg[0]["@destTimeMin"];
			for (var i=1; i < leg.length; i++) {
				strLeg += " -> " +  leg[i]["@origTimeMin"]  + ">>"  + leg[i]["@destTimeMin"]
			}

			strLeg += "</h5>"
			return strLeg;
		}

		// display trip information
		function tripDetail(trip) {
			$("#tripDetail").empty()
			var curTime = new Date();

			for (var i=0; i < trip.length; i++) {
				var j = "<div class='row'><div class='col'>"
				j+= getLeg(trip[i].leg);

				j += "</div><div class='col'><h5>" +
					getTimeDiff(curTime, trip[i]["@origTimeMin"]) +
					"</h5></div></div>";

				if (i==0) {
					startCountDown(curTime, trip[i]["@origTimeMin"]);
				}

				j += fareDetail(trip[i].fares.fare);

				$("#tripDetail").append(j);
			}
		}

		// helper function to call trips, will be called every 30sec
		function tripCall() {
			$.ajax({
                                url: "/trips",
                                data: {source: $('#start').val(), dest: $('#end').val()},
                                success: function(res) {
                                        var trip = res.root.schedule.request.trip
                                        tripDetail(trip);
                                }
                        })

		}

		// call trip information, and setup update interval
		function autoUpdate() {
			tripCall();
			window.setInterval(tripCall, 30000);
		}

		// display trip on google map
		function calculateAndDisplayRoute(directionsService, directionsDisplay) {
			if (mapStart == null || mapEnd == null) {
				return;
			}

			autoUpdate();		
	
			directionsService.route({
				origin: mapStart,
				destination: mapEnd,
				travelMode: 'TRANSIT',
				transitOptions: {
					modes: ['RAIL']
				}
			}, function(response, status) {
				if (status === 'OK') {
					directionsDisplay.setDirections(response);
				} else {
					window.alert('Directions request failed due to ' + status);
				}
			});
		}

		// display station(s) information on sidebar
		function buildStation(station, id) {
			var addr = station.address + ', ' + station.city + ', ' + station.state + ' ' + station.zipcode 
			var ltdlng = new google.maps.LatLng(station.gtfs_latitude, station.gtfs_longitude)

			$("#"+id+"Name").text()
			$("#"+id+"Address").val()
			$("#"+id+"Latitude").val()
			$("#"+id+"Longitude").val()
			$("#"+id+"Intro").val()

			$("#"+id+"Name").text(station.name)
			$("#"+id+"Address").val(addr)
			$("#"+id+"Latitude").val(station.gtfs_latitude)
			$("#"+id+"Longitude").val(station.gtfs_longitude)
			$("#"+id+"Intro").val(station.intro["#cdata-section"])

			$("#"+id+"Info").show();
			return ltdlng;
		}

		$('#start, #end').on("change", function() {
			var abbr = $(this).val();
			var id = $(this).attr("id")
			$.ajax({
				url: "/station",
				data: {source: abbr},
				success: function(res) {
					var station = res.root.stations.station
					if (id == "start") {
						mapStart = buildStation(station, id)
					}
					else if (id == "end") {
						mapEnd = buildStation(station, id)
					}

					calculateAndDisplayRoute(directionsService, directionsDisplay);
				}
			})
		});

	</script>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeHd8YCGXmPjRLvokoUdFIyIT9XQHfZ7M&callback=initMap"></script>

</body>
</html>
